@import "mixins";
@import "variables";

.font_color_w {
    color: white;
}

.intro_section {
    @include content_style;
    text-align: center;
    padding-top: 8% !important;

    .img_section {
        img {
            width: 70%;
        }
    }

    .heading_section {
        justify-items: baseline;

        h1 {
            color: white;
        }

        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.5);
            font-size: 1.5rem;
        }
    }
}

.resume_section {
    @include content_style;
    text-align: justify;
    color: $text_color_white;

    .resume_intro {
        .resume_info {
            table {
                tr {
                    text-align: left;

                    td {
                        padding-right: 20px;
                    }
                }
            }
        }
    }

    .resume_img {
        text-align: center;
    }
}

.project_preview {
    @include content_style;
    color: $text_color_white !important;

}

.homepage_reviews {
    @include content_style;
    color: $text_color_white !important;
    text-align: center;
}

.faq_section {
    @include content_style;

    fieldset {
        border: 1px solid white;
    }

    .faq_table {
        width: 100%;

        tr {
            td {
                padding: 1% 2%;
                border-bottom: 1px solid white;
            }
        }
    }
}

.bg_black {
    background-color: black;
}

.opacity_90p {
    opacity: 90%;
}

.border_black {
    border-color: black;
}

.border_rw {
    border-right: 1px solid white;
}