body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

a {
    text-decoration: none;
    color: white !important;
}

#container {
    background-image: url(../images/bg-main.png);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100%;
    background-attachment: fixed;
}

/* header styles */

#navbar .logo {
    width: 15%;
    margin: 0;
    padding: 0;
}

.logo a {
    padding: 0 !important;
    margin: 0 !important;
}

.logo a img {
    height: 90px;
    vertical-align: middle;
    z-index: 1000;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: black; */
    height: 100px;
    padding: 10px 20px 0px;
    vertical-align: middle;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    transition: top 1s;
    /* line-height: 60px; */
}

#navbar .utility a {
    text-decoration: none;
    color: white;
    padding: 25px 25px 25px 25px;
}

#navbar li:hover {
    background-color: rgba(225, 225, 225, 0.3);
}

#navbar a:hover {
    color: white;
}

#navbar .logo,
.utility {
    display: inline-block;
    vertical-align: middle;
}

#navbar ul {
    width: 82%;
    text-align: right;
    padding: 0;
    margin: 0;
}

#navbar ul li {
    display: inline-block;
    font-size: 15px;
    padding: 25px 0px 25px 0px;
    text-align: center;
    border-radius: 5px;
}